<!DOCTYPE html>
<html lang="en">
<head>
    <title>HCI Project</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="top-nav">
                <li><a hreft="index.html">Main</a></li>
            </ul>
        </nav>

<!-- diff divs: nav, header, section, footer (are semantic tags)-->
    
    </header>
    <section class="section-nav">
        <figure>
            <img src="" alt=""/>
            <figcaption>Picture</figcaption>
        </figure>>
    </section>
    <section></section>

    <h1>Home</h1>
    <h2>content</h2>
    <h3>sub contents</h3>

    <li>im an item</li>
    <li> im a second item</li>

    <ul>
        <li>unordened list</li>
        <li>unordened list</li>
    </ul>

    <footer></footer>

</body>
</html>